<div class="container my-4">
  <h1 class="text-center mb-4">Lista Giochi</h1>
  <div class="table-responsive">
    <table class="table table-hover table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th>Nome</th>
          <th>Condizione</th>
          <th>Console</th>
          <th>Lingua</th>
          <th>Data Acquisto</th>
          <th>Data Vendita</th>
          <th>Prezzo Vendita</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td>{{ game.name }}</td>
          <td>{{ game.condition }}</td>
          <td>{{ game.console }}</td>
          <td>{{ game.language }}</td>
          <td>{{ game.purchase_date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ game.sale_date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ game.sale_price | currency:'EUR':'symbol' }}</td>
          <td class="td-actions">
            <button class="btn btn-primary" (click)="editGame(game.id)">Modifica</button>
            <button class="btn btn-danger" (click)="deleteGame(game.id)">Elimina</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
