<div class="container my-4">
    <h1 class="text-center mb-4">Lista Acquisti</h1>
    <div class="table-responsive">
      <table class="table table-hover table-bordered align-middle">
        <thead class="table-dark">
          <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Costo</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let purchase of purchases">
            <td>
              <span *ngIf="!isRowEditableByID[purchase.id]">{{ purchase.name }}</span>
              <input *ngIf="isRowEditableByID[purchase.id]" [(ngModel)]="purchase.name" type="text" class="form-control"/>
            </td>
            <td>
              <span *ngIf="!isRowEditableByID[purchase.id]"> {{ purchase.date | date: 'dd/MM/yyyy' }} </span>
              <input *ngIf="isRowEditableByID[purchase.id]" [(ngModel)]="purchase.date" (input)="purchase.date = formatDate($event)" type="date" class="form-control"/>
            </td>
            <td>
              <span *ngIf="!isRowEditableByID[purchase.id]"> {{ purchase.cost | currency: 'EUR' }} </span>
              <input *ngIf="isRowEditableByID[purchase.id]" [(ngModel)]="purchase.cost" type="number" class="form-control"/>
            </td>
            <td> 
              <span *ngIf="!isRowEditableByID[purchase.id]">{{ purchase.notes }}</span>
              <input *ngIf="isRowEditableByID[purchase.id]" [(ngModel)]="purchase.notes" type="text" class="form-control"/>
            </td>
            <td class="td-actions">
              <button *ngIf="!isRowEditableByID[purchase.id]" class="btn btn-primary" (click)="editRow(purchase.id)">Modifica</button>
              <button *ngIf="!isRowEditableByID[purchase.id]" class="btn btn-danger" (click)="deletePurchase(purchase.id)">Elimina</button>
              <button *ngIf="isRowEditableByID[purchase.id]" class="btn btn-success" (click)="saveRow(purchase)">Salva</button>
              <button *ngIf="isRowEditableByID[purchase.id]" class="btn btn-secondary" (click)="cancelEdit(purchase.id)">Annulla</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="add-icon" data-bs-toggle="modal" data-bs-target="#addPurchaseModal">
        <button class="btn btn-success"><b > Aggiungi acquisto</b> </button>
      </div>
      
    </div>
    <div class="modal fade" id="addPurchaseModal" tabindex="-1" aria-labelledby="addPurchaseModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addPurchaseModalLabel">Aggiungi Acquisto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <app-add-purchase></app-add-purchase>
          </div>
        </div>
      </div>
    </div>
  </div>
  